body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: url(assets/background.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: aliceblue !important;
}

ul, li, ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

.inline li {
  display: inline-block;
  position: relative;
  vertical-align: top;
}
img {
  width: 200px;
  height: auto;
}

.card-tarot ul {
  left: 140px;
  margin: 0 auto;
  min-height: 220px;
  position: relative;
  width: 80%;
}

.card-tarot li {
  width: 4%;
  z-index: 20;
  position: absolute;
  -webkit-transition: .5s ease 0s;
  -moz-transition: .5s ease 0s;
  -ms-transition: .5s ease 0s;
  transition: .5s ease 0s;
}



.card-tarot img {
  max-width: inherit;
  top: 0;
  width: 114px;
  position: relative;
  -webkit-box-shadow: 0 0 5px rgb(0 0 0 / 0%);
  -moz-box-shadow: 0 0 5px rgba(0,0,0,0);
  -ms-box-shadow: 0 0 5px rgba(0,0,0,0);
  box-shadow: 0 0 5px rgb(0 0 0 / 0%);
  -webkit-transition: .5s ease 0s;
  -moz-transition: .5s ease 0s;
  -ms-transition: .5s ease 0s;
  transition: .5s ease 0s;
}

.card-tarot .back-card {
  -webkit-transform: rotateY(0deg);
  -moz-transform: rotateY(0deg);
  -ms-transform: rotateY(0deg);
  transform: rotateY(0deg);
  -webkit-transition: .5s ease 0s;
  -moz-transition: .5s ease 0s;
  -ms-transition: .5s ease 0s;
  transition: .5s ease 0s;
}

.card-tarot .hidden-card {
  left: 0;
  position: absolute;
  top: 0;
  -webkit-transform: rotateY(90deg);
  -moz-transform: rotateY(90deg);
  -ms-transform: rotateY(90deg);
  transform: rotateY(90deg);
  -webkit-transition: .5s ease 0s;
  -moz-transition: .5s ease 0s;
  -ms-transition: .5s ease 0s;
  transition: .5s ease 0s;
}

.card-tarot .back-card:hover, .back-card.hover {
  top: -10px;
  -webkit-box-shadow: 0 0 5px rgb(0 0 0 / 90%);
  -moz-box-shadow: 0 0 5px rgba(0,0,0,0.9);
  -ms-box-shadow: 0 0 5px rgba(0,0,0,0.9);
  box-shadow: 0 0 5px rgb(0 0 0 / 90%);
  -webkit-transition: .5s ease 0s;
  -moz-transition: .5s ease 0s;
  -ms-transition: .5s ease 0s;
  transition: .5s ease 0s;
  cursor: pointer;
}


.hideCard {
  display: none;
}



.card-tarot li:nth-child(1) {
  left: 0%;
}

.card-tarot li:nth-child(2) {
  left: 4%;
}

.card-tarot li:nth-child(3) {
  left: 8%;
}

.card-tarot li:nth-child(4) {
  left: 12%;
}

.card-tarot li:nth-child(5) {
  left: 16%;
}

.card-tarot li:nth-child(6) {
  left: 20%;
}

.card-tarot li:nth-child(7) {
  left: 24%;
}

.card-tarot li:nth-child(8) {
  left: 28%;
}

.card-tarot li:nth-child(9) {
  left: 32%;
}

.card-tarot li:nth-child(10) {
  left: 36%;
}

.card-tarot li:nth-child(11) {
  left: 40%;
}

.card-tarot li:nth-child(12) {
  left: 44%;
}

.card-tarot li:nth-child(13) {
  left: 48%;
}

.card-tarot li:nth-child(14) {
  left: 52%;
}

.card-tarot li:nth-child(15) {
  left: 56%;
}

.card-tarot li:nth-child(16) {
  left: 60%;
}

